body{
    background-color: rgba(164, 154, 154, 0.5);
}

.form{
    width: 60%;
    height: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.formInput{
    width: 100%;
}

.inputs{
    display: flex;
    justify-content: space-around;
}

label{
    display: block;
    left: 0;
}

input{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
}

.bmi-btn{
    width: 20%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: rgba(59, 36, 236, 0.5);
    cursor: pointer;
}

.bmi-btn:hover{
    background-color: rgba(59, 36, 236, 0.7);
    cursor: pointer;
}

.bmi-btn:disabled{
    color: white;
    background-color: rgba(59, 36, 236, 0.3);
    cursor:no-drop;
}

.slt-year, .slt-month{
    padding: 5px;
    border-radius: 5px;
    margin: 5px 10px;
}

.formData{
    display: flex;
}

.formData h1{
    margin: 0 0 10px;
}

.formChart{
    width: 50%;
}

.formChart canvas{
}

.formList{
    width: 50%;
}

.listBMI{
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    height: 200px;
    overflow-y:auto;
}

.listBMI li{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}